<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao E-commerce</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans text-center my-12">

    <h1 class="text-4xl font-bold mb-8">Bem-vindo ao E-commerce</h1>
    <button onclick="window.location.href='/template/create_product'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2">Criar Produto</button>
    <button onclick="window.location.href='/template/list_product'" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-2">Listagem de Produtos</button>

</body>
</html>
